# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea/
.vscode/
*.swp
*.swo

# Database
*.db
*.db-journal

# Prisma
/prisma/dev.db
/prisma/dev.db-journal

# Audio files
*.wav
*.mp3
*.ogg
*.opus

# Logs
logs
*.log

# OS
Thumbs.db

# Cache
.cache

# Temporary files
tmp/
temp/
